<nav class="navbar navbar-expand-lg navbar-dark  bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Shoppy</a>
      
      <a href="/logout"><button class="bg-primary text-white rounded-2  p-2 border-0 " >sign out</button></a>
    </div>
  </nav>