<%- include('../partials/top.ejs') %>

<%- include('../partials/navbar.ejs') %>

<div class="d-flex justify-content-center gap-4 pt-5 flex-column align-content-center h-50 mt-5   flex-wrap ">
   <h3 class="text-center text-primary ">This is just a home page</h3>
   <p class="text-center ">This is the paragraph</p>
</div>

<%- include('../partials/footer.ejs') %>

<%- include('../partials/bottom.ejs') %>